/* Colors */

/* White */
$color-body-bg: #ffffff;

/* Very Light Gray */
$color-code-bg: #f4f4f4;

/* White */
$color-tag: #ffffff;

/* Gray */
$color-tag-textshadow: #27272a;

/* Lighter Gray */
$color-menuitem: #67676a;

/* Gray */
$color-text: #27272a;

/* Lighter Gray */
$color-handwriting: #797979;

/* Very Light Gray */
$color-hairline: #d4d4d4;

/* Pink */
$color-light: #ff34d5;

/* Purple */
$color-heavy: #b31292;

/* Gray */
$color-table-header: #67676a;

/* Rose fart */
$color-table-highlight: #fff0fc;

/* Very light pink: #ffd1f6 */
$color-table-header-bg: #fff;

/* White */
$color-table-bg: #ffffff;

$color-boxshadow: #e0daeb;
$color-darkshadow: #b4afbd;

/* Environments */

/* Yellow-ish */
$color-note-text: $color-text;
$color-note-border: #ffe04d;
$color-note-bg: #ffe04d;

/* Red-ish */
$color-caution-text: $color-text;
$color-caution-border: #ff3326;
$color-caution-bg: #ff3326;

/* Blue-ish */
$color-tldr-text: $color-text;
$color-tldr-border: #2695ff;
$color-tldr-bg: #2695ff;

/* Background-Image */
$bg-image: url(/static/blog/bg.svg);
