/* Colors: see colors.scss */


/* Fonts */
@import url('fonts.css');

$font-code: 'Cousine';
$font-text: 'Open Sans';
$font-headline: 'Asap Condensed';
$font-handwriting: 'Kalam';

$border-radius: 0.3rem;

@mixin rounded () {
    border-radius: $border-radius;
}

@mixin shadow ($color-shadow: $color-boxshadow) {
    /*offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 4px 14px 0px $color-shadow;
}

@mixin noshadow () {
    box-shadow: none;
}

@mixin hatching() {
    /* Hatching (Englisch: Schraffur) */
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(255,255,255,.5) 10px,
        rgba(255,255,255,.5) 20px
    );
}

* {
    font-family: $font-text;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-body-bg;
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-position: top -50px right -50px;
    background-size: 75%;
}

body > header {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $color-light;
    background-color: $color-light;
    position: fixed;
    height: 3px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav ul li a {
    font-weight: normal;
    color: $color-menuitem;
    text-decoration: none;
    padding: 0.3rem;
    text-transform: uppercase;
    font-family: $font-headline;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
}

a {
    color: $color-light;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, main article > header > h1 {
    font-family: $font-headline;
    font-weight: normal;
    color: $color-heavy;
    hyphens: auto;
}

main article > header > h1,
main section > header > h1 {
    font-size: 32pt;
}

main article h1,
main article h2,
main article h3,
main article h4,
main article h5,
main article h6, {
    margin-top: 1.5em;
}

main section.author header {
    text-align: center;
}

main article code {
    font-family: $font-code;
    background-color: $color-code-bg;
    padding: 0.2em 0.3em;
    @include rounded();
}

main img {
    margin: 0 auto;
    max-width: 100%;
    @include shadow($color-darkshadow);
}

main img.portrait {
    margin: 0 auto;
    @include shadow($color-darkshadow);
    border-radius: 50%;
}

@mixin full-bleed($width) {
    /*
    https://css-tricks.com/the-inside-problem/
    https://hankchizljaw.com/wrote/creating-a-full-bleed-css-utility/
    */
    width: $width;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Table Environment */

main div.table {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 90vw;
    overflow-x: auto;
    @include full-bleed(100vw);
    @include shadow();

    table {
        margin: 0 auto;
        @include noshadow();
        width: 100%;
    }
}

/* Plain Table */

main table {
    margin: 1em auto;
    border-collapse: collapse;
    border: 0.3rem solid $color-table-bg;
    min-width: 50%;
    overflow: auto;
    table-layout: auto;
    text-overflow: ellipsis;
    @include shadow();

    th, td {
        padding: 0.8rem;
    }

    thead {
        tr {
            th {
                background-color: $color-table-header-bg;
                border-bottom: 1px solid $color-hairline;
                color: $color-menuitem;
                font-family: $font-headline;
                font-weight: normal;
                text-transform: uppercase;
            }

            th:first-child { border-top-left-radius: $border-radius; }
            th:last-child { border-top-right-radius: $border-radius; }
        }
    }

    tbody {
        tr {
            td {
                color: $color-menuitem;
                background-color: $color-table-bg;
            }
        }

        tr:not(:last-child) {
            td {
                border-bottom: 1px solid $color-hairline;
            }
        }

        tr:last-child {
            td:first-child { border-bottom-left-radius: $border-radius; }
            td:last-child { border-bottom-right-radius: $border-radius; }
        }
    }
}

article header + small,
h1 + small {
    color: $color-text;
}

.date-published {
    cursor: help;
}

pre, div.highlight pre {
    background-color: $color-code-bg;
    padding: 1rem;
    border-radius: 0.2em;
    overflow: auto;
}

div.highlight pre, div.highlight pre > * {
    font-family: $font-code;
    color: $color-text;
}

div.highlight pre {
    display: block;
    line-height: 1.38em;
}

pre {
    @include shadow();
}

pre code {
    font-family: $font-code;
    color: $color-text;
}

p {
    font-family: $font-text;
    line-height: 1.75rem;
    color: $color-text;
}

ul li {
    line-height: 1.5rem;
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul.menu li.menuitem {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 1em;
}

ul.articles,
ul.authors,
ul.summaries {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.articles li:before,
ul.authors li:before {
    content: '\2013';
    margin: 0 1em;
    color: $color-text;
}

ul.summaries li.summary {
    padding: 1em 0;
    border-bottom: 1px solid $color-light;
}

ul.summaries li.summary h1 a {
    font-family: $font-headline;
    font-weight: normal;
    color: $color-heavy;
    font-size: 32pt;
    line-height: 32pt;
}

ul.tags {
    font-size: smaller;
    margin: 1em 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul.tags li.tag {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: $color-light;
}

ul.tags li.tag a {
    color: $color-tag;
    font-weight: bolder;
    text-decoration: none;
}

ul.tags li.tag a:hover {
    text-shadow: 2px 2px 4px $color-tag-textshadow;
}

ul.archive {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

ul.archive li.year h2 {
    border-bottom: 1px solid $color-heavy;
}

ul.archive li.year ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

blockquote {
    display: inline-block;
    padding-left: 1em;
    margin-left: 1em;
}

blockquote, blockquote p {
    font-family: $font-handwriting;
    font-size:  larger;
    color: $color-handwriting;
}

blockquote p {
    margin: 0 0.2em;
    padding: 0;
}

blockquote:before {
    content: "\201C";
    display: block;
    font-size: 32pt;
    height: 18pt;
    margin: 0;
    margin-left: -0.5em;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

blockquote:after {
    content: "\201D";
    display: block;
    font-size: 32pt;
    height: 18pt;
    margin: 0;
    margin-top: -0.3em;
    margin-right: -0.5em;
    padding: 0;
    text-align: right;
    vertical-align: top;
}

@media only screen and (min-width: 1224px){
    main {
        max-width: 48%;
        margin: 2em auto;
        text-align: left;
    }

    body {
        background-size: 50%;
    }
}


/* Syntax Highlighting */

/* Python */

div.highlight pre {
    /* Operator */
    span.o { }

    /* Keyword */
    span.k,
    /* Operator-Keyword */
    span.ow { color: #2695FF; }

    /* Import */
    span.kn { color: #2695FF;}

    /* Module Name */
    span.nn { color: #FF34D5; }

    /* Named Decorator */
    span.nd { color: #1BB3AD; }

    /* Named builtin */
    span.nb { color: #2695FF; }

    /* Dunder */
    span.fm { color: #00BBFE; }

    /* Named Class */
    span.nc { color: #FF34D5; }

    /* Named Function */
    span.nf { color: #FF34D5; }

    /* Docstring */
    span.sd { color: #9494B0; /*color: #4A4A75; #2E2E8C; #77D*/ }

    /* Comment (1 line) */
    span.c1 { color: #B4B4C2; /*color: #6D6D75;*/ }

    /* Self */
    span.bp { color: #B31292; }

    /* String, Single Quoted */
    span.s1,
    /* String, Douple Quoted */
    span.s2 { color: #FF854D;
        /*color: #FFBC4D;*/
        /*color: #E88F3A;*/
    }

    /* Int Literal */
    span.mi { color: #33AD11; /*#4AFF19 grün*/ }

    /* Magic Variable (e.g. __main__) */
    span.vm { color: #00BBFE; }


    /* Javascript */

    /* Keyword `function` */
    span.kd,
    /* Keyword `const` */
    span.kr { color: #2695FF; }

    /* Named function or object */
    span.nx {  }

    /* JavaScript interpolated string  */
    span.si,
    span.sb { color: #FF854D; }


    /* HTML */

    /* Tag */
    span.p,
    span.nt { color: #2695FF; }

    /* Named Attribute */
    span.na { color: #1BB3AD; }

    /* Attribute Value */
    span.s { color: #FF854D; }

    /* HTML-Comment */
    span.c { color: #B4B4C2; }
}

/* Function declaration (e.g. `function` <Name>) */
span.kd + span.nx { color: #FF34D5; }

/* Ctor calls (e.g. `new` <Name>) */
span.k + span.nx { color: #FF34D5; }


/* Custom Environments */

@mixin environment($color-text, $color-border, $color-bg) {
    @include rounded();
    @include shadow();
    color: $color-text;
    border: 2px solid $color-border;
    background-color: $color-bg;
    padding: 0.5em;
    p {
        color: $color-text;
        margin: 1em;
    }
}

div.note {
    @include environment(
        $color-note-text,
        $color-note-border,
        $color-note-bg
    );
}

div.caution {
    @include environment(
        $color-caution-text,
        $color-caution-border,
        $color-caution-bg
    );
}

div.tldr {
    @include environment(
        $color-tldr-text,
        $color-tldr-border,
        $color-tldr-bg
    );
}