{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="de" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <link rel="stylesheet" href="{% static 'blog/css.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'blog/favicon.png' %}">
        <title>{% block title %}{% endblock %} | Schneider &amp; Hofmeister IT</title>
    </head>
    <body>
        <header></header>
        <nav>
            {% include 'blog/components/menu.html' %}
        </nav>
        <main>
        {% block content %}{% endblock %}
        </main>
    </body>
</html>


<meta name="author" content="Anna Lyse">
<meta name="date" content="2010-05-15T08:49:37+02:00">
<meta name="description" content="Dieser Beschreibungstext soll mit in der Suchergebnisliste erscheinen.">