{% extends 'blog/_layout.html' %}
{% load markdown %}
{% load humanize %}
{% load i18n %}



{% block title %}{{ article.title }}| Artikel{% endblock %}


{% block content %}


<article>
    <header>
            <h1>{{ article.title }}</h1>
    </header>
    <small>
        <span class="date">
            {% trans 'Veröffentlicht ' %} <a title="{{ article.published}}">{{ article.published|naturalday }}</a>.
        </span>
        <span class="authors">
            {% trans 'Geschreiben von' %}
            {% if article.authors.count == 1 %}
                {# Geschrieben von Johannes. #}
                <span class="author" >{{ article.authors.first.first_name }}</span>.
            {% elif article.authors.count == 2 %}
                {# Geschrieben von Johannes und Horst. #}
                {% for author in article.authors.all %}
                    {% if forloop.last %} und {% endif %}<span class="author" >{{ author.first_name }}</span>{% if forloop.last %}.{% endif %}
                {% endfor %}
            {% else %}
                {# Geschrieben von Johannes, Lars und Horst. #}
                {% for author in article.authors.all %}
                    {% if forloop.last %} und {% endif %}
                    <span class="author" >{{ author.first_name }}</span>{% if not forloop.last and not forloop.revcounter0 == 1%}, {% endif %}{% if forloop.last %}.{% endif %}
                {% endfor %}
           {% endif %}
        </span>
    </small>

    <ul class="tags">
        {% for tag in article.tags.all %}
        <li class="tag {{ tag.color }}"><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>

    {{ article.content|markdown|safe }}
</article>
{% endblock %}