{% extends 'blog/_layout.html' %}
{% load markdown %}
{% load i18n %}



{% block title %}{{ article.title }} | {% trans 'Artikel' %}{% endblock %}


{% block content %}
<article>
    <header>
            <h1>{{ article.title }}</h1>
    </header>
    <small>
        {% include 'blog/components/date.html' %}
        {% include 'blog/components/authors.html' %}
        {% include 'blog/components/edit_article.html' %}
    </small>
    <ul class="tags">
        {% for tag in article.tags.all %}
        <li class="tag {{ tag.color }}"><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {{ article.content|markdown|safe }}
</article>
{% endblock %}