{% extends 'blog/_layout.html' %}
{% load i18n %}

{% block title %}Artikel{% endblock %}


{% block content %}
<p>
    <small>
    {% include 'blog/components/add_article.html' %}
    {% include 'blog/components/article_changelist.html' %}
    </small>
</p>
<ul class="summaries">
{% for article in articles %}
    <li class="summary">
        <h1><a href="{{ article.get_absolute_url }}">{{ article }}</a></h1>
        <small>
            {% include 'blog/components/date.html' %}
            {% include 'blog/components/authors.html' with authors=article.authors.all %}
        </small>
        <p>
            {{ article.summary|safe }}
        </p>
    </li>
{% empty %}
    {% trans 'Bisher wurden noch keine Artikel verfasst...' %}
{% endfor %}
</ul>
{% endblock %}