{% extends 'blog/_layout.html' %}
{% load markdown %}
{% load i18n %}



{% block title %}{{ author.first_name }} | {% trans 'Autor' %}{% endblock %}


{% block content %}
<section class="author">
    <header>
        {% if author.portrait %}
            <img loading="lazy" class="portrait" src="{{ author.portrait.url }}" alt="{% trans 'Porträt von' %} {{ author.first_name }} {{ author.last_name }}">
        {% endif %}
        <h1>{{ author.first_name }}</h1>
    </header>

    {% if author.biography %}
        {{ author.biography|markdown|safe }}
    {% endif %}

    <h2>{% trans 'Artikel von' %}&nbsp;{{ author.first_name}}</h2>
    {% include 'blog/components/articles.html' with articles=author.articles.published %}
</section>
{% endblock %}