{% extends 'blog/_layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Themen' %}{% endblock %}


{% block content %}
<h1>{% trans 'Themen' %}</h1>
{% if tags %}
    <ul class="tags">
    {% for tag in tags %}
        <li class="tag {{ tag.color }}"><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
    {% empty %}
        <li>
        {% trans 'Bisher gibt es noch keine Themen...' %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans 'Bisher gibt es noch keine Themen...' %}</p>
{% endif %}
{% endblock %}
