@charset "UTF-8";
/* Colors */
/* White */
/* Light Gray */
/* White */
/* Gray */
/* Lighter Gray */
/* Gray */
/* Lighter Gray */
/* Pink */
/* Purple */
/* Environments */
/* Yellow-ish */
/* Red-ish */
/* Background-Image */
/* Colors: see colors.scss */
/* Fonts */
@import url("fonts.css");
* {
  font-family: "Open Sans";
}

body {
  background-color: #381A32;
  background-image: url(/static/blog/bg-dark.svg);
  background-repeat: no-repeat;
  background-position: top -50px right -50px;
  background-size: 75%;
}

h1, h2, h3, h4, h5, h6, main article > header > h1 {
  font-family: "Asap Condensed";
  font-weight: normal;
  color: #ab008a;
}

main article > header > h1,
main section > header > h1 {
  font-size: 32pt;
}

main article code {
  font-family: "Cousine";
  background-color: #242424;
  border-radius: 0.2em;
  padding: 0.2em 0.3em;
}

main article img {
  margin: 0 auto;
  max-width: 100%;
}

article header + small,
h1 + small {
  color: #D1D1E0;
}

.date-published {
  cursor: help;
}

pre, div.highlight pre {
  background-color: #242424;
  padding: 1rem;
  border-radius: 0.2em;
  overflow: auto;
}

div.highlight pre, div.highlight pre > * {
  font-family: "Cousine";
  color: #D1D1E0;
}

div.highlight pre {
  display: block;
  line-height: 1.38em;
}

pre code {
  font-family: "Cousine";
  color: #D1D1E0;
}

p {
  font-family: "Open Sans";
  line-height: 1.5rem;
  color: #D1D1E0;
}

ul li {
  line-height: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
}

body > header {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #b31292;
  background-color: #b31292;
  height: 3px;
  position: sticky;
  display: block;
  top: 0;
  z-index: 100;
}

nav ul li a {
  font-weight: normal;
  color: #b2b2b8;
  text-decoration: none;
  padding: 0.3rem;
  text-transform: uppercase;
  font-family: "Asap Condensed";
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
}

a {
  color: #b31292;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul.menu li.menuitem {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1em;
}

ul.articles,
ul.authors,
ul.summaries {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.articles li:before,
ul.authors li:before {
  content: "–";
  margin: 0 1em;
  color: #D1D1E0;
}

ul.summaries li.summary {
  padding: 1em 0;
  border-bottom: 1px solid #b31292;
}

ul.summaries li.summary h1 a {
  font-family: "Asap Condensed";
  font-weight: normal;
  color: #ab008a;
  font-size: 32pt;
  line-height: 32pt;
}

ul.tags {
  font-size: smaller;
  margin: 1em 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.tags li.tag {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background-color: #b31292;
}

ul.tags li.tag a {
  color: #242424;
  font-weight: bolder;
  text-decoration: none;
}

ul.tags li.tag a:hover {
  text-shadow: 2px 2px 4px #27272a;
}

ul.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

ul.archive li.year h2 {
  border-bottom: 1px solid #ab008a;
}

ul.archive li.year ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

blockquote {
  display: inline-block;
  padding-left: 1em;
  margin-left: 1em;
}

blockquote, blockquote p {
  font-family: "Kalam";
  font-size: larger;
  color: #797979;
}

blockquote p {
  margin: 0 0.2em;
  padding: 0;
}

blockquote:before {
  content: "“";
  display: block;
  font-size: 32pt;
  height: 18pt;
  margin: 0;
  margin-left: -0.5em;
  padding: 0;
  text-align: left;
  vertical-align: top;
}

blockquote:after {
  content: "”";
  display: block;
  font-size: 32pt;
  height: 18pt;
  margin: 0;
  margin-top: -0.3em;
  margin-right: -0.5em;
  padding: 0;
  text-align: right;
  vertical-align: top;
}

@media only screen and (min-width: 1224px) {
  main {
    max-width: 48%;
    margin: 2em auto;
    text-align: left;
  }

  body {
    background-size: 50%;
  }
}
/* Syntax Highlighting */
/* Python */
div.highlight pre {
  /* Operator */
  /* Keyword */
  /* Import */
  /* Module Name */
  /* Named Decorator */
  /* Named builtin */
  /* Dunder */
  /* Named Class */
  /* Named Function */
  /* Docstring */
  /* Comment (1 line) */
  /* Self */
  /* String, Single Quoted */
  /* Int Literal */
  /* Magic Variable (e.g. __main__) */
  /* Javascript */
  /* Keyword `function` */
  /* Named function or object */
  /* JavaScript interpolated string  */
  /* HTML */
  /* Tag */
  /* Named Attribute */
  /* Attribute Value */
  /* HTML-Comment */
}
div.highlight pre span.k,
div.highlight pre span.ow {
  color: #2695FF;
}
div.highlight pre span.kn {
  color: #2695FF;
}
div.highlight pre span.nn {
  color: #FF34D5;
}
div.highlight pre span.nd {
  color: #1BB3AD;
}
div.highlight pre span.nb {
  color: #2695FF;
}
div.highlight pre span.fm {
  color: #00BBFE;
}
div.highlight pre span.nc {
  color: #FF34D5;
}
div.highlight pre span.nf {
  color: #FF34D5;
}
div.highlight pre span.sd {
  color: #9494B0;
  /*color: #4A4A75; #2E2E8C; #77D*/
}
div.highlight pre span.c1 {
  color: #B4B4C2;
  /*color: #6D6D75;*/
}
div.highlight pre span.bp {
  color: #B31292;
}
div.highlight pre span.s1,
div.highlight pre span.s2 {
  color: #FF854D;
  /*color: #FFBC4D;*/
  /*color: #E88F3A;*/
}
div.highlight pre span.mi {
  color: #33AD11;
  /*#4AFF19 grün*/
}
div.highlight pre span.vm {
  color: #00BBFE;
}
div.highlight pre span.kd,
div.highlight pre span.kr {
  color: #2695FF;
}
div.highlight pre span.si,
div.highlight pre span.sb {
  color: #FF854D;
}
div.highlight pre span.p,
div.highlight pre span.nt {
  color: #2695FF;
}
div.highlight pre span.na {
  color: #1BB3AD;
}
div.highlight pre span.s {
  color: #FF854D;
}
div.highlight pre span.c {
  color: #B4B4C2;
}

/* Function declaration (e.g. `function` <Name>) */
span.kd + span.nx {
  color: #FF34D5;
}

/* Ctor calls (e.g. `new` <Name>) */
span.k + span.nx {
  color: #FF34D5;
}

/* Custom Environments */
div.note {
  background-color: #fffee8;
  border: 2px solid #ffd21c;
  padding: 0.5em;
  border-radius: 0.2em;
}

div.note p {
  margin: 0;
}

div.caution {
  background-color: #ffd8d6;
  border: 2px solid #ff3229;
  padding: 0.5em;
  border-radius: 0.2em;
}

div.caution p {
  margin: 0;
}

/*
Hatching
--------

Englisch: Schraffur
*/
/*
Anwendung:
.box {
    @include hatching());
}
*/
.weasel {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.5) 10px, rgba(255, 255, 255, 0.5) 20px);
}
