{% load i18n %}
{% if article.authors.count > 0 %}
<span class="authors">
    {% trans 'Geschrieben von' %}
    {% if article.authors.count == 1 %}
        {# Geschrieben von Johannes. #}
        {% with author=article.authors.first %}
        <a class="author" href="{{ author.get_absolute_url }}">{{ article.authors.first.first_name }}</a>.
        {% endwith %}
    {% elif article.authors.count == 2 %}
        {# Geschrieben von Johannes und Horst. #}
        {% for author in article.authors.all %}
            {% if forloop.last %} und {% endif %}<a class="author" href="{{ author.get_absolute_url }}">{{ author.first_name }}</a>{% if forloop.last %}.{% endif %}
        {% endfor %}
    {% else %}
        {# Geschrieben von Johannes, Lars und Horst. #}
        {% for author in article.authors.all %}
            {% comment %}Translators: Include Oxford-Comma{% endcomment %}
            {% if forloop.last %} {% trans 'und' %} {% endif %}
            <a class="author" href="{{ author.get_absolute_url }}">{{ author.first_name }}</a>{% if not forloop.last and not forloop.revcounter0 == 1%}, {% endif %}{% if forloop.last %}.{% endif %}
        {% endfor %}
   {% endif %}
</span>
{% endif %}